/* 
Headings: Teal #066c7a
paragraphs: # fff
navbar: blue #262861
navbar hover Chartrues #BEC947
color-primary: #0f2b54;
color-secondary: #0f5450;

*/ 

* {
	box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
}
h1, h2, h3, h4 {
    font-family:'Sintony', sans-serif;
    color: #00003b;
    line-height: 1.4;
  }
  h1 {
    color: #066c7a !important;
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
    padding-left: 24px;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

ul {
    list-style-type: disc;
    margin: 16;
    padding: 16;
    overflow: hidden;
    background-color: #B581AE;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding:15px 17px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #B7E5DA;
  }

  .logo {
    height:51px;
    float:left;
  }

  #hero {
    height: 20%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

  .heroText {
text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  }

.resume-button {
width: 200px;
height: 42px;
left: 59px;
top: 443px;background: #4A666A;
box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
border-radius: 8px;
font-family: 'Poppins', sans-serif;
font-weight: 500;
color: white;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 25px;
padding-right: 25px;
transition: 0.2s;
margin-top: 15px;
transition: 0.2s opacity;
border-color:white;
font-size: 16px;

}

img {
  width: 100%;
}

.social-media-icon{
  width: 64px;
}


a.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.read-more {
width: 144px;
height: 42px;
left: 59px;
top: 443px;background: #4A666A;
border-radius: 8px;
text-decoration: none !important;
}

.container { 
   overflow:auto;
}

.container > div {
    background-color: lightgrey;
    margin: 10px;
    padding: 20px;
}

.email-link {
    color: #B7E5DA';
}
 a:hover {
    background-color: #B7E5DA;
  }
  * {
    box-sizing: border-box;
  }

  /* Layout styling */
  .container {
    padding: 0 15px;
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
    overflow: auto;
  }

  .logo {
    max-width: 250px;
  }
  #hero h1 {
    margin: 0;
    padding: 0.67em 0;
  }
  #hero {
    background-color: #B581AE;
    padding: 20px 0;
  }
  
  .col-md-6 {
    width: 50%;
    float: left;
    padding: 0 10px;
  }

  /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}

header {
  text-align: unset;
}

selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
}

selector {
  width: 1200px;
}

.container {
  max-width: 1200px;
}

* {
  box-sizing: border-box;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#hero h1 {
  text-align: center; /* Centers text */
}

.center {
  text-align: center;
}

.logo {
  max-width: 250px;
}

header {
  background-color: #4A666A
  ;
  text-align: center;
  padding: 10px 0;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #white;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: ;
}

#hero {
  background-color: #4A666A;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

#hero {
  background-color: #b7e5da;
  padding: 20px 0;
  text-align: center;
}

#hero span {
  display: block;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button {position: absolute;
width: 144px;
height: 42px;
left: 0px;
top: 0px;

background: #4A666A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
  position: absolute;
  width: 108px;
  height: 20px;
  left: 18px;
  top: 11px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  
  color: #FFFFFF;}

width: 100%;
max-width: 100%;
height: auto;

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

footer {
  background: #4A666A;
  background: linear-gradient(180deg, #B581AE 0%, rgba(183, 229, 218, 0.6) 100%);
  padding: 15px 10px;
  width: 100%
}

.footer.icon {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.footer.icon a {
  padding: 0 10px;
  color: rgb(255, 255, 255, 35%);
  transition: 0.3s;
}

.footer.icon a:hover {
  color: rgb(255, 255, 255, 100%);
}

#copyright {
  color: rgb(255, 255, 255, 55%);
  font-size: 12px;
  padding: 5px 0;
  text-align: right;
  margin: 0;
}


#skills.row {
  margin: 0;
}





